.venv*/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.idea/
data/~$*
*.pyc
memoire/*.aux
memoire/*.log
memoire/*.out
memoire/*.toc
memoire/*.fls
memoire/*.fdb_latexmk
memoire/*.xdv
memoire/*.synctex.gz
